@import 'constants/variables.scss';


.input{
    margin: 10px 0;    

    &__label{
        font-size: 14px;
        font-weight: bold;
        color: $dark-grey;
    }

    &__field input{
        min-width: 500px;
        min-height: 30px;
        border: 1px solid $grey;
        padding: 0 5px;
        font-size: 16px;
        font-weight: bold;
        text-align: center
    }
}