$white: #fff;
$black: #000;
$red: #9e1919;
$more-light-grey: #f5f5f5;
$light-grey: #ddd;
$grey: #898989;
$dark-grey: #5b5b5b;


$bg-gray: #fcfcfc;

$bg-color: rgba(59, 59, 60, 0.1);

$base-font: "helveticaneue-light", "helvetica neue light", "helvetica neue", helvetica, arial, "lucida grande", sans-serif;
$base-font-color: #333;
$base-font-size: 14px;

$border-radius:          0 !default;
$border-radius-lg:       0 !default;
$border-radius-sm:       0 !default;

$small-text-size: 10px;
$header-size: 18px;
$big-text-size: 16px;
$map-text-size: 12px;
$text-size: $base-font-size;


$break-phone: 576px;
$break-tablet: 768px;
$break-desktop: 992px;
$break-wide-desktop: 1200px;