@import 'constants/variables.scss';

.sign-up{

    &__container{
        display: flex;
        justify-content: center;
    }

    &__form{
        border: 1px solid $light-grey;
        padding: 20px;
        margin: 20px 0;
    }

    &__input input{
        margin: 10px 0;
        min-width: 300px;
    }

    &__confirm{
        min-width: 300px;
    }

    &__or{
        display: flex;
        justify-content: center;
        font-size: 10px;
        margin: 10px 0;
    }

    &__registration a{
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }
}